.booze-parent-container {
    @include parentFlex;
        @media only screen and (max-width: 640px) {
        flex-direction: column;
    }
}

.alcohol-listing {
    position: relative;
    margin: 10px;
    width: 30%;
    @media only screen and (max-width: 640px) {
        width: 40%;
    }
    @media only screen and (max-width: 640px) {
        width: 80%;
        margin: 10px auto;
    }
}

.category {
    z-index: 1;
    position: relative;
    opacity: 0;
    display: inline-block;
    width: 21%;
    height: 5%;
    cursor: pointer;
}

.booze-select {
    position: absolute;
    left: 0;
}