form {
    display: flex;
    width: 50%;
    margin: 0 auto;
    input {
        width: 80%;
    }
}

// .input-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.booze-icon {
    font-size: 5rem;
    color: white;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    i {
        margin: 10px;
    }
}