form {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.input-container {
    border: 1px solid purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}