.booze-parent-container {
    @include parentFlex;
}

.alcohol-listing {
    position: relative;
    margin: 10px;
}

.category {
    z-index: 1;
    position: relative;
    opacity: 0;
    display: inline-block;
    width: 21%;
    height: 5%;
    cursor: pointer;
}

.booze-select {
    position: absolute;
    left: 0;
}