.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 20%;
}

.main-description {
    font-size: 2rem;
}

.description {
    text-align: center;
}

.coloured {
    color: #138eff;
    font-weight: bold;
}