.recipe-parent-container {
    @include parentFlex;
}

.recipe-container {
    @include cards(rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 640px) {
        width: 40%;
    }
    @media only screen and (max-width: 640px) {
        width: 80%;
    }
}

.food-img {
    display: flex;
    justify-content: center;
    img {
        border: 4px solid rgb(255, 255, 255);

    }
}
