@import "setup";
@import "mixins";
@import "recipes";
@import "boozeinput";
@import "buttons";
@import "header";
@import "booze";

// general stypes

html {
    font-size: 62.5%;
}

// font-family: 'Crimson Text', serif;
// font-family: 'Open Sans', sans-serif;

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(80deg, peachpuff, rgb(125, 185, 238));
}

img {
    max-width: 100%;
}
// typography

h1 {
    font-size: 5rem;
    color: #138eff;
    margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

// wrapper
.wrapper {
    width: 90%;
    margin: 0 auto;
}

// visually hidden for labels
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

.animated {
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}